/* .projets {
  background-color: teal;
  border-radius: 0% 0% 40% 40%;
  height: auto;
  padding-bottom: 5em;
 
  
}

.cadre_projets>*{
  flex: 1 1 1 100px;
  margin-left: 10px;
}
.cadre_projets { 
 margin-left: 20%;
 
  width: 60%;
  height: auto;  
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cadre1 {
  margin-top: 2em;

  background: url(../image/ouitransfer.PNG) no-repeat;
  background-size: contain;

  width: 20vw;
  height: 20vh;
}
.cadre1:hover {
  -webkit-animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
  animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
}



.cadre1:hover .one {
  display: block;

  -webkit-animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
  animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
}
.cadre2 {
  background: url(../image/lucastore.PNG) no-repeat;
  background-size: contain;
  margin-top: 2em;

  width: 20vw;
  height: 20vh;
}
.cadre2:hover {
  -webkit-animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
  animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(10vw);
    transform: translateX(10vw);
  }
  100% {
    -webkit-transform: translateX(-15vw);
    transform: translateX(-15vw);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(10vw);
    transform: translateX(10vw);
  }
  100% {
    -webkit-transform: translateX(-15vw);
    transform: translateX(-15vw);
  }
}

.cadre2:hover .two {
  display: block;
  -webkit-animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
  animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
}


.cadre3 {
  background: url(../image/lucastore.PNG) no-repeat;
  background-size: contain;
  margin-top: 1em;
  
  width: 20vw;
  height: 20vh;
}
.cadre3:hover {
  -webkit-animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
  animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(10vw);
    transform: translateX(10vw);
  }
  100% {
    -webkit-transform: translateX(-15vw);
    transform: translateX(-15vw);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(10vw);
    transform: translateX(10vw);
  }
  100% {
    -webkit-transform: translateX(-15vw);
    transform: translateX(-15vw);
  }
}

.cadre3:hover .three {
  display: block;
  -webkit-animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
  animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
}

.cadre4 {
  background: url(../image/lucastore.PNG) no-repeat;
  background-size: contain;
  margin-top: 1em;
  width: 20vw;
  height: 20vh;
}
.cadre4:hover {
  -webkit-animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
  animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(10vw);
    transform: translateX(10vw);
  }
  100% {
    -webkit-transform: translateX(-15vw);
    transform: translateX(-15vw);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(10vw);
    transform: translateX(10vw);
  }
  100% {
    -webkit-transform: translateX(-15vw);
    transform: translateX(-15vw);
  }
}

.cadre4:hover .four {
  display: block;
  -webkit-animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
  animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(10vw);
    transform: translateX(10vw);
  }
  100% {
    -webkit-transform: translateX(10vw);
    transform: translateX(10vw);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(10vw);
    transform: translateX(10vw);
  }
  100% {
    -webkit-transform: translateX(21vw);
    transform: translateX(21vw);
  }
}

.cadre5 {
  margin-top: 1em;

  background: url(../image/ouitransfer.PNG) no-repeat;
  background-size: contain;

  width: 20vw;
  height: 20vh;
}
.cadre5:hover {
  -webkit-animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
  animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
}



.cadre5:hover .five {
  display: block;

  -webkit-animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
  animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
}
.cadre6 {
  background: url(../image/lucastore.PNG) no-repeat;
  background-size: contain;
  margin-top: 1em;

  width: 20vw;
  height: 20vh;
}
.cadre6:hover {
  -webkit-animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
  animation: slide-left 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
}



.cadre6:hover .six {
  display: block;

  -webkit-animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
  animation: slide-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.9) both;
}

.one,
.two,
.three,
.four,
.five,
.six {
  display: none;
  font-size: 1vw;
  width: fit-content;
} */
/* 3D Slideshow */ 
* {
	margin: 0;
	padding: 0;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
	/* overflow-y: hidden;
	background-color: #6adecd; */
}

#slideshow {
	margin: 0 auto;
	padding-top: 50px;
	height: 800px;
	width: 100%;
  background: url(../image/bgprojets.jpg);
  background-size: cover;
  box-sizing: border-box;
  border-radius: 0% 0% 40% 40%;
  
}

.slideshow-title {
	font-family: 'Allerta Stencil';
	font-size: 62px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	margin-top: 10%;
	letter-spacing: 3px;
	font-weight: 300;
}

.sub-heading {
	padding-top: 50px;
	font-size: 18px;
} .sub-heading-two {
	font-size: 15px;
} .sub-heading-three {
	font-size: 13px;
} .sub-heading-four {
	font-size: 11px;
} .sub-heading-five {
	font-size: 9px;
} .sub-heading-six {
	font-size: 7px;
} .sub-heading-seven {
	font-size: 5px;
} .sub-heading-eight {
	font-size: 3px;
} .sub-heading-nine {
	font-size: 1px;
}

.entire-content {
	margin: auto;
	width: 190px;
	perspective: 1000px;
	position: relative;
	padding-top: 300px;
}

.content-carrousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: rotar 20s infinite alternate;
	transform-style: preserve-3d;
}

.content-carrousel:hover {
	animation-play-state: paused;
  cursor: pointer;
  
}

.content-carrousel figure {
	width: 100%;
	height: 120px;
	border: 1px solid #3b444b;
	overflow: hidden;
	position: absolute;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px); 
} .content-carrousel figure:nth-child(2) {
	transform: rotateY(40deg) translateZ(300px); 
} .content-carrousel figure:nth-child(3) {
	transform: rotateY(80deg) translateZ(300px); 
} .content-carrousel figure:nth-child(4) {
	transform: rotateY(120deg) translateZ(300px); 
} .content-carrousel figure:nth-child(5) {
	transform: rotateY(160deg) translateZ(300px); 
} .content-carrousel figure:nth-child(6) {
	transform: rotateY(200deg) translateZ(300px); 
} .content-carrousel figure:nth-child(7) {
	transform: rotateY(240deg) translateZ(300px); 
} .content-carrousel figure:nth-child(8) {
	transform: rotateY(280deg) translateZ(300px); 
} .content-carrousel figure:nth-child(9) {
	transform: rotateY(320deg) translateZ(300px); 
} .content-carrousel figure:nth-child(10) {
	transform: rotateY(360deg) translateZ(300px); 
} 

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 100%;
	height: 100%;
}

.content-carrousel img:hover {
	transform: scale(1.2);
  transition: all 300ms;
 
  
}

@keyframes rotar {
	from {
		transform: rotateY(0deg) rotateX(0deg);
	} to {
		transform: rotateY(-360deg) rotateX(45deg);
  }
}